*.class
*.bo
*~
generated
bin
*.zip
*.jar
antlr4-cpp-runtime
build-antlr4
connectal
*.pp
*.glob
.*.aux
*.vo
*.stamp
Makefile.coq.all
Makefile.coq.all.conf
Makefile.conf
Makefile.coq*
build
.coqdeps.d
.classpath
.gradle
.idea
