[submodule "coq-record-update"]
	path = coq-record-update
	url = git://github.com/tchajed/coq-record-update
[submodule "bbv"]
	path = bbv
	url = git://github.com/mit-plv/bbv
[submodule "z3"]
	path = z3
	url = git://github.com/Z3Prover/z3
